@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    color: #111;
    font-family: 'Nanum Gothic', sans-serif;
}

.container {}

.top {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo img {
    display: block;
}

.nav ul {
    display: flex;
}

.nav ul li a {
    display: inline-block;
    height: 80px;
    padding: 0 30px;
    line-height: 80px;
}

.nav ul li:last-child i {
    font-size: 24px;
    position: relative;
}

.nav ul li:last-child i span {
    background-color: red;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: -6px;
    right: -6px;
}

/* slide */
.slide_container {
    background-color: #f5f5f5;
}

.slide {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-image: url("../images/slide_bg.png");
    background-repeat: no-repeat;
    background-position: center right 30px;
    position: relative;
}

.text {
    position: absolute;
    top: 130px;
    left: 60px;
}

.text h2 {
    font-size: 60px;
}

.text h2 span {
    font-size: 70px;
    font-weight: 800;
}

.buttons {
    padding: 50px 40px;
}

.buttons .btn_01 {
    display: inline-block;
    height: 40px;
    text-align: center;
    line-height: 46px;
    margin-right: 40px;
    position: relative;
}

.buttons .btn_01::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #666;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.buttons .btn_02 {
    display: inline-block;
    height: 46px;
    width: 168px;
    background-color: #111;
    color: #fff;
    text-align: center;
    line-height: 46px;
    border-radius: 46px;
}

/* product_01 */
.product_01 {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 100px;
}

.product_01 ul {
    display: flex;
    justify-content: space-between;
}

.product_01 ul li {
    width: 560px;
    height: 320px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_01 ul li .photo {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_01 ul li .info {
    width: 340px;
}

.product_01 ul li .info h3 {
    font-size: 30px;
    font-weight: 800;
}

.product_01 ul li .info p {
    color: #666;
    padding-top: 16px;
    padding-bottom: 36px;
}

.product_01 .btn {
    padding: 12px 24px;
    font-size: 14px;
    outline: none;
    border: 1px solid #111;
    border-radius: 44px;
    cursor: pointer;
    transition: all 0.5s;
}

.product_01 .btn:hover {
    background-color: #111;
    color: #fff;
}

/* .product_02 */
.product_02 {
    width: 1200px;
    margin: 0 auto;
    padding: 116px 20px 100px 20px;
}

.title_container {
    padding-bottom: 62px;
    text-align: center;
}

.title_container h2 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 30px;
}

.title_container p {
    color: #666;
}

.product_02 ul {
    display: flex;
    justify-content: space-between;
}

.product_02 ul li {
    width: 260px;
    height: 260px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* big_banner */
.big_banner {
    background-image: url("../images/big_banner_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.big_banner .info_container {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.big_banner .info_container .info {
    position: absolute;
    top: 164px;
    left: 56px;
    color: #fff;
}

.big_banner .info_container .info h3 {
    font-size: 64px;
    font-weight: 700;
}

.big_banner .info_container .info p {
    font-size: 24px;
    font-weight: 700;
    padding: 42px 0 56px 0;
    line-height: 1.6;
}

.big_banner .info_container .info button {
    display: inline-block;
    height: 46px;
    width: 168px;
    background-color: #f2f2f2;
    color: #111;
    text-align: center;
    line-height: 46px;
    border-radius: 46px;
    cursor: pointer;
    transition: all .5s;
}

.big_banner .info_container .info button:hover {
    background-color: #ed6d6e;
    color: #fff;
}

/* .product_03 */
.product_03 {
    width: 1200px;
    margin: 0 auto;
    padding: 116px 20px 100px 20px;
}

.title_container {
    padding-bottom: 62px;
    text-align: center;
}

.title_container h2 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 30px;
}

.title_container p {
    color: #666;
}

.product_03 ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.product_03 ul li {
    width: 260px;
    height: 260px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* blog */
.blog {
    width: 1200px;
    margin: 0 auto;
    padding: 116px 20px 100px 20px;
}

.title_container {
    padding-bottom: 62px;
    text-align: center;
}

.title_container h2 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 30px;
}

.title_container p {
    color: #666;
}

.blog ul {
    display: flex;
    justify-content: space-between;
}

.blog ul li {
    width: 360px;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 32px;
}

.blog ul li:nth-child(1) {
    background-image: url("../images/blog_01.png");
}

.blog ul li:nth-child(2) {
    background-image: url("../images/blog_02.png");
}

.blog ul li:nth-child(3) {
    background-image: url("../images/blog_03.png");
}

/* bottom */
.bottom {
    padding: 60px;
    background-color: #222;
}

.bottom p {
    text-align: center;
    color: #fff;
}